@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

font-family: "Azeret Mono", monospace;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared style */
.btn{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}


/* nevigation-bar-stats */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 38px auto;
    margin-bottom: 36px;
    
}


.name{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-btn{
    display: inline-flex;
    padding: 17px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
}

/* nevigation-bar-ends */

/* hero-section-starts */

.banner-section{
    background-image: url(/assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 74px;
}

.hero-title{
    width: 998px;
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hero-description{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 32px;
}

.hero-btn{
    padding: 21px 24px;
    border-radius: 8px;
    background: #0D1321;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 45px;
}

/* hero-section-ends */

/* web-development-section-strats */

.web-development-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    padding: 80px 97px;
    gap: 10px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-title{
    color: #0D1321;
    text-align: center;   
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.web-description{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 48px;
}

.class-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.class1-content > h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.class1-content > p{
    width: 468px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7; 
}

.class-1 > .class1-img{
    
    width: 274.169px;
    height: 240px;
    padding: 3.767px 13.664px 19.221px 0.941px;
}

.class-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;

}

.class-2-content > h3{
    width: 477px;
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;

}

.class-2-content > p{
    width: 468px;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.class-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.class-3-content > h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
}

.class-3-content > p{
    width: 468px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    
}


/* web-development-section-strats */

.Inspiration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 5245px; 
}

.inpiration-content{
 width: 70%;
 margin:0 auto;
}


.inpiration-content h3{
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    
    
}
.inpiration-content p{

    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 48px;
 
}

.back{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 614px;
    padding: 32px ;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);  
}

/* web-development-section-strats */
